<% if resource.errors.any? %>
  <div class="notification is-danger is-light my-5" id="error_explanation">
    <button class="delete"></button>
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
  </div>
<% end %>
