<div class="column is-4">
  <div class="card m-1">
    <div class="card-image">
      <figure class="image is-1by1 has-mask">
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag recipe.recipe_image.url(:thumb) %>
          <div class="mask has-text-centered">
            <p class="has-text-white">
              <span class="icon-text mr-3">
                <span class="icon is-small">
                  <i class="far fa-heart"></i>
                </span>
                <span class="is-size-6"><%= recipe.favorites.size %></span>
              </span>
              <span class="icon-text">
                <span class="icon is-small">
                  <i class="far fa-comment"></i>
                </span>
                <span class="is-size-6"><%= recipe.comments.size %></span>
              </span>
            </p>
          </div>
        <% end %>
      </figure>
    </div>
  </div>
</div>
