<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">レシピ編集</h1>
    </div>
  </div>
</section>

<%= render 'shared/error_messages', model: @recipe %>

<%= render 'form', recipe: @recipe, value: "更新" %>
