<% provide(:title, 'レシピ一覧') %>

<%= render 'layouts/hero', hero_title: 'レシピ一覧' %>

<section class="section">
  <div class="container">
    <div class="columns is-multiline is-mobile" id="infinite-scroll-container" data-infinite-scroll="<%= @recipes.size == 40 %>">
      <%= render @recipes %>
      <% if @recipes.size == 40 %>
        <div class="column is-12" id="remove-after-loading"><div class="loading-animation"></div></div>
      <% end %>
    </div>
  </div>
</section>
