<% provide(:title, 'レシピ一覧') %>

<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">レシピ一覧</h1>
    <div class="columns is-multiline is-mobile" id="pageables-container">
      <%= render @recipes %>
    </div>
    <% if @recipes.size == 40 %>
      <div class="loading-animation" id="loading-animation"></div>
    <% end %>
    <div id="next-page-link-container">
      <%= render 'shared/next_page_link', pageables: @recipes %>
    </div>
  </div>
</section>
