<% provide(:title, 'レシピ一覧') %>

<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">レシピ一覧</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline is-mobile" id="recipe-container">
      <%= render @recipes %>
    </div>
  </div>
</section>
