<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">レシピ一覧</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @recipes.eager_load(:user).find_each do |recipe| %>
        <div class="column is-4">
          <%= render 'shared/recipe_card', recipe: recipe %>
        </div>
      <% end %>
    </div>
  </div>
</section>
