<% provide(:title, '通知一覧') %>

<%= render 'layouts/hero', hero_title: '通知一覧' %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
        <% if notifications.exists? %>
          <div class="mb-5">
            <%= render notifications %>
          </div>
          <%= paginate notifications, window: 2, outer_window: 1 %>
        <% else %>
          <p>通知はありません。</p>
        <% end %>
      </div>
    </div>
  </div>
</section>
