<% provide(:title, "#{@user.username}さんのフォロワー") %>

<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= link_to @user.username, user_path(@user) %>さんのフォロワー
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <% if @followers.present? %>
          <%= render partial: 'users/user_list', collection: @followers, as: "user" %>
        <% else %>
          <% if @user.id == current_user.id %>
            <p>まだフォロワーがいません</p>
          <% else %>
            <p><%= link_to @user.username, user_path(@user) %>さんにはまだフォロワーがいません</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
