<% controller.action_name == 'followings' ? followings_or_followers = 'がフォロー中' : followings_or_followers = 'のフォロワー' %>
<% provide(:title, "#{@user.username}さん#{followings_or_followers}") %>

<section class="hero is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        <span class="icon-text">
          <%= link_to user_path(@user), class: 'has-text-grey-darker hover-underline' do %>
            <span class="icon">
              <i class="fas fa-arrow-left"></i>
            </span>
            <span><%= @user.username %>さん</span>
          <% end %>
          <span><%= followings_or_followers %></span>
        </span>
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered is-multiline">
      <div class="column is-9" id="infinite-scroll-container" data-infinite-scroll="true">
        <%= follows_or_no_follows_description(@follows, @user) %>
      </div>
      <% if @follows.size >= 40 %>
        <div class="column is-12" id="remove-after-loading"><div class="loading-animation"></div></div>
      <% end %>
    </div>
  </div>
</div>
