<% provide(:title, "#{@user.username}さんのフォロワー") %>

<section class="hero is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        <span class="icon-text">
          <%= link_to user_path(@user), class: 'has-text-grey-darker hover-underline' do %>
            <span class="icon">
              <i class="fas fa-arrow-left"></i>
            </span>
            <span><%= @user.username %>さん</span>
          <% end %>
          <span>のフォロワー</span>
        </span>
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9" id="infinite-scroll-container" data-infinite-scroll="true">
        <%= follows_or_no_follow_description(@followers, @user) %>
      </div>
    </div>
  </div>
</div>
