<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= link_to @user.username, user_path(@user) %>さんがフォロー中
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <% if @followings.present? %>
          <%= render 'shared/user_list', model: @followings %>
        <% else %>
          <% if @user.id == current_user.id %>
            <p>まだ誰もフォローしていません</p>
          <% else %>
            <p><%= link_to @user.username, user_path(@user) %>さんはまだ誰もフォローしていません</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
