<% provide(:title, "#{@user.username}さんがフォロー中") %>

<section class="hero is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        <span class="icon-text">
          <%= link_to user_path(@user) do %>
            <span class="icon">
              <i class="fas fa-arrow-left"></i>
            </span>
          <% end %>
          <span><%= @user.username %>さんがフォロー中</span>
        </span>
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <% if @followings.present? %>
          <%= render partial: 'users/user_list', collection: @followings, as: "user" %>
        <% else %>
          <% if @user.id == current_user.id %>
            <p>まだ誰もフォローしていません</p>
          <% else %>
            <p><%= link_to @user.username, user_path(@user) %>さんはまだ誰もフォローしていません</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
