<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @user.username %>さんのフォロワー
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <% if @followers.exists? %>
          <%= render 'shared/user_list', model: @followers %>
        <% else %>
          <% if @user.id == current_user.id %>
            <p>まだフォロワーがいません</p>
          <% else %>
            <p><%= @user.username %>さんにはまだフォロワーがいません</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
