<% provide(:title, 'ユーザー一覧') %>

<%= render 'layouts/hero', hero_title: 'ユーザー一覧' %>

<section class="section">
  <div class="container">
    <div class="columns is-multiline" id="infinite-scroll-container" data-infinite-scroll="true">
      <%= render @users %>
    </div>
  </div>
</section>
