<% provide(:title, 'ユーザー一覧') %>

<%= render 'layouts/hero', hero_title: 'ユーザー一覧' %>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @users.find_each do |user| %>
        <div class="column is-3">
          <%= render 'shared/user_card', user: user %>
        </div>
      <% end %>
    </div>
  </div>
</section>
