<div class="block">
  <div class="media">
    <div class="media-left">
      <%= link_to user_path(user) do %>
        <figure class="image is-64x64">
          <%= image_tag user.user_image.url(:thumb), class: 'is-rounded' %>
        </figure>
      <% end %>
    </div>
    <div class="media-content text-break">
      <p class="is-size-4 mb-3 oneline">
        <span><%= link_to user.username, user_path(user), class: 'has-text-black-bis' %></span>
      </p>
      <p class="threeline">
        <span><%= user.profile %></span>
      </p>
    </div>
  </div>
</div>
