<% provide(:title, 'プライバシーポリシー') %>

<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">プライバシーポリシー</h1>
    <div class="columns is-centered">
      <div class="column is-9">
        <article>
          <h2 class="title is-5">Google アナリティクスについて</h2>
          <p>当サービスは、サービスの利用状況等を調査・分析するため、Google Inc.が提供するGoogleアナリティクスを利用しています。GoogleアナリティクスはCookieを使用して、サービスの利用状況等を把握しています。</p>
        </article>
      </div>
    </div>
  </div>
</section>
