<% provide(:title, '検索') %>

<section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <%= search_form_for @q, url: search_path do |f| %>
            <div class="field has-addons">
              <div class="control is-expanded">
                <%= f.search_field :title_cont, autofocus: true, placeholder: 'キーワードを入力…', required: true, class: 'input is-rounded' %>
              </div>
                <div class="control">
                  <%= button_tag type: 'submit', class: 'button is-rounded' do %>
                    <i class="fas fa-search"></i>
                  <% end %>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
