<% if user_signed_in? %>
  <% if current_user.tag_followings.exists?(tag_id: tag.id) %>
    <%= form_with url: tag_followers_path(tag.name), method: :delete, local: false do |f| %>
      <%= f.submit 'フォロー中', class: 'button is-info is-rounded', data: { confirm: "本当に#{tag.name}のフォローを解除しますか？" }, onmouseover: "this.setAttribute('value', 'フォロー解除'); this.classList.replace('is-info', 'is-danger')", onmouseout: "this.setAttribute('value', 'フォロー中'); this.classList.replace('is-danger', 'is-info')" %>
    <% end %>
  <% else %>
    <%= form_with url: tag_followers_path(tag.name), method: :post, local: false do |f| %>
      <%= f.submit 'フォロー', class: 'button is-info is-outlined is-rounded' %>
    <% end %>
  <% end %>
<% else %>
  <div class="button is-info is-outlined is-rounded js-show-sign-in-modal">フォロー</div>
<% end %>
