/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$pagination-current-background-color: #3e8ed0;
$pagination-current-border-color: #3e8ed0;
$pagination-focus-border-color: #3e8ed0;

@import "bulma";

.recipegram {
  font-family: Monotype Corsiva;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.hover-underline:hover {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.has-mask {
  position: relative;
  &:hover .mask {
    opacity: 1;
  }
  .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.field_with_errors {
  .input,
  .textarea {
    border: 1px solid $danger;
  }
  + .border_red_with_errors {
    border: 1px solid $danger;
  }
}

.text-break {
  word-break: break-word;
}

.sticky {
  position: sticky;
  top: 100px;
}

.has-unchecked-notification {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10%, -10%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ef5350;
    border: 1px solid #fff;
    content: attr(data-num);
  }
}

.is-1-line {
  overflow: hidden;
  width: 100%;
  span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}

@for $i from 2 through 15 {
  .is-#{$i}-lines {
    overflow: hidden;
    width: 100%;
    span {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $i;
    }
  }
}

.bottom-item {
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow: visible;
  border-top: 1px solid lightgray;
  background-color: white;
}

.z-index-1 {
  z-index: 1;
}

.is-256x256 {
  height: 256px !important;
  width: 256px !important;
  object-fit: cover;
}

.is-400x400 {
  height: 400px !important;
  width: 400px !important;
  object-fit: cover;
}

.round {
  border-radius: 50%;
}

.tabs {
  li.is-active a {
    border-bottom-color: #363636;
    color: #363636;
  }
  a:hover {
    border-bottom-color: #dbdbdb;
  }
}

.is-grey {
  background-color: #6a737d !important;
  color: #fff !important;
}

.menu-list li.is-active {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background-color: #f9826c;
  }
}

.menu-tag {
  height: auto !important;
  display: inline-block !important;
}

@media (max-width: 767px) {
  .m-0-mobile {
    margin: 0 !important;
  }
  .p-0-mobile {
    padding: 0 !important;
  }
}

.border-0 {
  border: 0 !important;
}

.bg-color-transparent {
  background-color: transparent !important;
}

.navbar-border {
  border-bottom: 1px solid lightgray;
}

.w-full {
  width: 100%;
}

.w-one-thirds {
  width: 33.333333%;
}

@media screen and (min-width: 769px) {
  .modal-content {
    width: 90vh !important;
  }
}

.resize-textarea {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none !important;
  }
  &:not([rows]) {
    max-height: unset !important;
  }
}

.height-unset {
  height: unset !important;
}

.custom-tagify-look {
  --tag-bg: #f5f5f5 !important;
  --tags-focus-border-color: #3273dc !important;
  --tag-text-color: #363636 !important;
  --tag-inset-shadow-size: 5em !important;
  --tag-remove-btn-color: #363636 !important;
  > div {
    border: unset;
  }
}

.tag-link:hover {
  background-color: #eee;
  color: rgba(0, 0, 0, 0.7);
}
