/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.recipegram {
  font-family: Monotype Corsiva;
}

.hover-underline:hover {
  text-decoration: underline;
}

.mask-container {
  position: relative;
  &:hover .mask {
    opacity: 1;
  }
  .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    .mask-text {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.field_with_errors {
  .input,
  .textarea {
    border: 1px solid hsl(348, 86%, 61%);
  }
  + .border_red_with_errors {
    border: 1px solid hsl(348, 86%, 61%);
  }
}

.text-break {
  word-break: break-word;
}

.sticky {
  position: sticky;
  top: 100px;
}

.has-unchecked-notification {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10%, -10%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: hsl(348, 86%, 61%);
    border: 1px solid hsl(0, 0%, 100%);
    content: attr(data-num);
  }
}

.title.text-truncate-container {
  line-height: unset;
}

.text-truncate-container {
  overflow: hidden;
  @for $i from 1 through 12 {
    .text-truncate-#{$i} {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $i;
    }
  }
}

.drop-zone {
  border: 2px dashed rgba(0, 0, 0, 0.2);
}

.is-200x200 {
  height: 200px !important;
  width: 200px !important;
  object-fit: cover;
}

.is-400x400 {
  height: 400px !important;
  width: 400px !important;
  object-fit: cover;
}

.m-0-mobile {
  @media (max-width: 767px) {
    margin: 0 !important;
  }
}

.p-0-mobile {
  @media (max-width: 767px) {
    padding: 0 !important;
  }
}

.border-0 {
  border: 0 !important;
}

.w-full {
  width: 100%;
}

.resize-textarea {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none !important;
  }
  &:not([rows]) {
    max-height: unset !important;
  }
}

.tag-link:hover {
  background-color: hsl(0, 0%, 93%);
  color: hsl(0, 0%, 4%);
}

.search-history {
  position: absolute;
  top: 45px;
  width: 100%;
}

.recipe-navbar {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  @media (max-width: 768px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    border-top: 1px solid hsl(0, 0%, 86%);
  }
  @media (min-width: 769px) {
    position: sticky;
    top: 100px;
    flex-direction: column;
    align-items: center;
  }
}

.recipe-navbar__item {
  display: flex;
  align-items: center;
  @media (min-width: 769px) {
    flex-direction: column;
  }
}

.recipe-navbar__item-button:hover {
  background-color: hsl(0, 0%, 96%);
  border-radius: 4px;
}

.recipe-navbar__item-dropdown-menu {
  @media (max-width: 768px) {
    bottom: 100% !important;
    padding-bottom: 4px !important;
    padding-top: initial !important;
    left: auto !important;
    right: 0 !important;
    top: auto !important;
  }
}

.recipe-navbar__item-dropdown-button {
  background-color: transparent !important;
  border: 0 !important;
  &:focus,
  &:hover {
    background-color: hsl(0, 0%, 96%) !important;
    color: hsl(0, 0%, 4%) !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}

.recipe-navbar__item-text {
  @media (max-width: 768px) {
    margin-left: 0.25rem;
  }
}

.navbar-dropdown-button {
  height: 48px !important;
}
